.ch-codeblock .ch-code-button {
  display: none;
}
.ch-codeblock:hover .ch-code-button {
  display: block;
}

.ch-codegroup {
  max-width: calc(100vw - 32px);
}
.lg:ch-codegroup {
  max-width: none;
}
